/PRUEBA_GIBHUB/nbproject/private/
/PRUEBA_GIBHUB/build/
/VideoBuster/nbproject/private/
/VideoBuster/build/
/PROYECTOS-DUOC/ConexionDB/build/
/PROYECTOS-DUOC/ConexionDB/nbproject/private/
/PROYECTOS-DUOC/Gráfica/build/
/PROYECTOS-DUOC/Gráfica/nbproject/private/
/PROYECTOS-DUOC/LetraMayuscula/build/
/PROYECTOS-DUOC/LetraMayuscula/nbproject/private/
/PROYECTOS-DUOC/Password/build/
/PROYECTOS-DUOC/Password/nbproject/private/
/PROYECTOS-DUOC/PrimerasPruebas/build/
/PROYECTOS-DUOC/PrimerasPruebas/nbproject/private/
/PROYECTOS-DUOC/Swing/build/
/PROYECTOS-DUOC/Swing/nbproject/private/
/PROYECTOS-DUOC/Biblioteca/Biblioteca/build/
/PROYECTOS-DUOC/Biblioteca/Biblioteca/nbproject/private/
/PROYECTOS-DUOC/Deporte-V1/Deporte/build/
/PROYECTOS-DUOC/Deporte-V1/Deporte/nbproject/private/
/PROYECTOS-DUOC/Deporte-V2/Deporte/build/
/PROYECTOS-DUOC/Deporte-V2/Deporte/nbproject/private/
/PROYECTOS-DUOC/Divisas/Divisas/build/
/PROYECTOS-DUOC/Divisas/Divisas/dist/
/PROYECTOS-DUOC/Divisas/Divisas/nbproject/private/
/PROYECTOS-DUOC/PromedioGUI/PromedioGUI/build/
/PROYECTOS-DUOC/PromedioGUI/PromedioGUI/nbproject/private/
/PROYECTOS-DUOC/Zapateria/Zapateria/build/
/PROYECTOS-DUOC/Zapateria/Zapateria/nbproject/private/
/EVALUACIONES-PROFUNDIZACIONSOFTWARE/EXAMEN/Empresa-Examen/Empresa_Version1/nbproject/private/
/EVALUACIONES-PROFUNDIZACIONSOFTWARE/EXAMEN/Empresa-Examen/Empresa_Version1/build/
/EVALUACIONES-MODULOSINTEGRACION/Testdeployment/dist/
/EVALUACIONES-MODULOSINTEGRACION/Testdeployment/build/
/EVALUACIONES-MODULOSINTEGRACION/Testdeployment/nbproject/private/
/Web2/nbproject/private/
/Web2/dist/
/Web2/build/
/EVALUACIONES-MODULOSINTEGRACION/PruebaDeploy/build/
/EVALUACIONES-MODULOSINTEGRACION/PruebaDeploy/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/Proyecto-Profesor/PruebaDeployProf/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/TALLER-1/Indicadores/build/
/EVALUACIONES-MODULOSINTEGRACION/TALLER-1/Indicadores/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/TALLER-2/dgonzalez_vsaavedra_taller2/VideoBuster-Entregado/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/TALLER-2/dgonzalez_vsaavedra_taller2/VideoBuster-TALLER2/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/PruebaDeploy2/dist/
/EVALUACIONES-MODULOSINTEGRACION/EXAMEN/ANTIGUA-VERSION/ET/AppProductosET/build/
/EVALUACIONES-MODULOSINTEGRACION/EXAMEN/ANTIGUA-VERSION/ET/AppProductosET/nbproject/private/
/ProductoWeb/nbproject/private/
/ProductoWeb/build/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/ProductoIngreso/build/
/Conexion_Mysql/nbproject/private/
/Conexion_Mysql/build/
/Tutorial/nbproject/private/
/Tutorial/build/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/Clientes/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/Clientes/build/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/Mant_BD/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/Mant_BD/build/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/LoginJSP/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/LoginJSP/build/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/Reporte/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/SLQ1/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/SLQ1/build/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/Escuela/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/Escuela/build/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/MVC/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/MVC/build/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/CURDMVC/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/CRUDMVC/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/CRUDMVC/build/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/tablas/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/tablas/build/
/EVALUACIONES-MODULOSINTEGRACION/CURSO-JAVA/CRUDMVC/build/
/EVALUACIONES-MODULOSINTEGRACION/CURSO-JAVA/CRUDMVC/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/CURSO-JAVA/Escuela/build/
/EVALUACIONES-MODULOSINTEGRACION/CURSO-JAVA/Escuela/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/CURSO-JAVA/MVC/build/
/EVALUACIONES-MODULOSINTEGRACION/CURSO-JAVA/MVC/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/CURSO-JAVA/Reporte/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/CURSO-JAVA/SLQ1/build/
/EVALUACIONES-MODULOSINTEGRACION/CURSO-JAVA/SLQ1/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/CURSO-JAVA/tablas/build/
/EVALUACIONES-MODULOSINTEGRACION/CURSO-JAVA/tablas/nbproject/private/
/CURSO-JAVA/CRUDMVC/build/
/CURSO-JAVA/CRUDMVC/nbproject/private/
/CURSO-JAVA/Escuela/build/
/CURSO-JAVA/Escuela/nbproject/private/
/CURSO-JAVA/MVC/build/
/CURSO-JAVA/MVC/nbproject/private/
/CURSO-JAVA/Reporte/nbproject/private/
/CURSO-JAVA/SLQ1/build/
/CURSO-JAVA/SLQ1/nbproject/private/
/CURSO-JAVA/tablas/build/
/CURSO-JAVA/tablas/nbproject/private/
/EJEMPLO-JAVA-ONLINE/CRUDMVC/build/
/EJEMPLO-JAVA-ONLINE/CRUDMVC/nbproject/private/
/EJEMPLO-JAVA-ONLINE/Escuela/build/
/EJEMPLO-JAVA-ONLINE/Escuela/nbproject/private/
/EJEMPLO-JAVA-ONLINE/MVC/build/
/EJEMPLO-JAVA-ONLINE/MVC/nbproject/private/
/EJEMPLO-JAVA-ONLINE/Reporte/nbproject/private/
/EJEMPLO-JAVA-ONLINE/SLQ1/build/
/EJEMPLO-JAVA-ONLINE/SLQ1/nbproject/private/
/EJEMPLO-JAVA-ONLINE/tablas/build/
/EJEMPLO-JAVA-ONLINE/tablas/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/combobox/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/combobox/build/
/EJEMPLO-JAVA-ONLINE/Reporte/build/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/imagenes/nbproject/private/
/EJEMPLO-JAVA-ONLINE/imagenes/build/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/Botones_jtable/nbproject/private/
/EVALUACIONES-MODULOSINTEGRACION/WEB-SERVICE-TALLERES/Botones_jtable/build/