/PRUEBA_GIBHUB/nbproject/private/
/PRUEBA_GIBHUB/build/
/VideoBuster/nbproject/private/
/VideoBuster/build/
/PROYECTOS-DUOC/ConexionDB/build/
/PROYECTOS-DUOC/ConexionDB/nbproject/private/
/PROYECTOS-DUOC/Gráfica/build/
/PROYECTOS-DUOC/Gráfica/nbproject/private/
/PROYECTOS-DUOC/LetraMayuscula/build/
/PROYECTOS-DUOC/LetraMayuscula/nbproject/private/
/PROYECTOS-DUOC/Password/build/
/PROYECTOS-DUOC/Password/nbproject/private/
/PROYECTOS-DUOC/PrimerasPruebas/build/
/PROYECTOS-DUOC/PrimerasPruebas/nbproject/private/
/PROYECTOS-DUOC/Swing/build/
/PROYECTOS-DUOC/Swing/nbproject/private/
/PROYECTOS-DUOC/Biblioteca/Biblioteca/build/
/PROYECTOS-DUOC/Biblioteca/Biblioteca/nbproject/private/
/PROYECTOS-DUOC/Deporte-V1/Deporte/build/
/PROYECTOS-DUOC/Deporte-V1/Deporte/nbproject/private/
/PROYECTOS-DUOC/Deporte-V2/Deporte/build/
/PROYECTOS-DUOC/Deporte-V2/Deporte/nbproject/private/
/PROYECTOS-DUOC/Divisas/Divisas/build/
/PROYECTOS-DUOC/Divisas/Divisas/dist/
/PROYECTOS-DUOC/Divisas/Divisas/nbproject/private/
/PROYECTOS-DUOC/PromedioGUI/PromedioGUI/build/
/PROYECTOS-DUOC/PromedioGUI/PromedioGUI/nbproject/private/
/PROYECTOS-DUOC/Zapateria/Zapateria/build/
/PROYECTOS-DUOC/Zapateria/Zapateria/nbproject/private/
/EVALUACIONES-PROFUNDIZACIONSOFTWARE/EXAMEN/Empresa-Examen/Empresa_Version1/nbproject/private/
/EVALUACIONES-PROFUNDIZACIONSOFTWARE/EXAMEN/Empresa-Examen/Empresa_Version1/build/
/EVALUACIONES-MODULOSINTEGRACION/Testdeployment/dist/
/EVALUACIONES-MODULOSINTEGRACION/Testdeployment/build/
/EVALUACIONES-MODULOSINTEGRACION/Testdeployment/nbproject/private/